---
import Contact from "../../components/contact.astro";
---

<footer>
  <h2>Punto serrano</h2>
  <Contact />
</footer>
<style>
  footer {
    padding: 10px;
    display: flex;
    margin-top: 8px;
    align-items: center;
    justify-content: space-around;
    min-width: 100dvw;
    min-height: 10dvh;
    background-color: var(--second-color);
  }
</style>
