---

---

<nav class="navBar">
  <div id="icon"></div>
  <ul class="nav-list">
    <li class="nav-item"><a href="#home">Home</a></li>
    <li class="nav-item"><a href="#reservation">Reservation</a></li>
    <li class="nav-item"><a href="#contact">Contact</a></li>
  </ul>
  <style>
    .navBar {
      background-color: var(--main-color);
      min-height: 10dvh;
    }
    .nav-list {
      display: flex;
      flex-direction: row;
    }
    .nav-item {
      list-style: none;
      padding: 10px;
    }
    .nav-item a {
      text-decoration: none;
      color: inherit;
    }
  </style>
</nav>
