---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="main_404">
    <h1>404 - Not found</h1>
  </main>
  <style>
    .main_404 {
      height: 50dvh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  </style>
</Layout>
