---
import "./contact.css";
---

<section class="contact">
  <h2>Contact</h2>
  <div class="email">
    <img src="/favicon-email.png" alt="" />
    <p class="info">example@gmail.com</p>
  </div>
  <style>
    img {
      width: 25px;
    }
  </style>
</section>
