---
import "./home.css";
import Contact from "./contact.astro";
---

<main class="main_home">
  <h1>Punto Serrano</h1>
  <div class="video__wrapper">
    <video id="videoHome" autoplay loop src="/videomock.mp4"></video>
  </div>
  <a href="#about" class="arrow">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M19.5 13.5 12 21m0 0-7.5-7.5M12 21V3"></path>
    </svg>
  </a>
  <section class="about" id="about">
    <p class="textHome">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus ex
      rem, quibusdam dolorum laudantium tempora eius animi placeat officiis aut
      dolores asperiores. Tempora cumque vel beatae alias excepturi,
      exercitationem eaque? Lorem ipsum dolor, sit amet consectetur adipisicing
      elit. Accusamus ex rem, quibusdam dolorum laudantium tempora eius animi
      placeat officiis aut dolores asperiores. Tempora cumque vel beatae alias
      excepturi, exercitationem eaque? Lorem ipsum dolor, sit amet consectetur
      adipisicing elit. Accusamus ex rem, quibusdam dolorum laudantium tempora
      eius animi placeat officiis aut dolores asperiores. Tempora cumque vel
      beatae alias excepturi, exercitationem eaque?
    </p>
  </section>
  <section class="products">
    <div class="box__product product_gastronomic">
      <a href="#gastronomic">Walks and gastronomy</a>
    </div>
    <div class="box__product product_party">
      <a href="#party">Party rental</a>
    </div>
    <div class="box__product product_others">
      <a href="#others">Our products</a>
    </div>
  </section>
  <Contact />
</main>
