---
import "./home.css";
import Contact from "./contact.astro";
---

<main class="main_home">
  <h1>Punto Serrano</h1>
  <section class="products">
    <div class="box__product">
      <p>Walks and gastronomy</p>
    </div>
    <div class="box__product">
      <p>Party rental</p>
    </div>
    <div class="box__product">
      <p>Our products</p>
    </div>
  </section>
  <Contact />
</main>
