---
import Layout from "../../layouts/Layout.astro";
import Products from "../../layouts/Products.astro";
---

<Layout>
  <Products product="party" img="/fiestamock.png">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima atque
      ratione inventore repellat eos tempora cumque repellendus, beatae libero
      eum dolore laudantium alias hic harum odit omnis. Eligendi, exercitationem
      quasi!
    </p>
    <br />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima atque
      ratione inventore repellat eos tempora cumque repellendus, beatae libero
      eum dolore laudantium alias hic harum odit omnis. Eligendi, exercitationem
      quasi!
    </p>
  </Products>
</Layout>
