---

---

<nav>
  <div id="icon"></div>
  <ul>
    <li class="nav-item">Home</li>
    <li class="nav-item">Reservation</li>
    <li class="nav-item">Contact</li>
  </ul>
  <style>
    .nav-item {
      list-style: none;
      padding: 10px;
    }
  </style>
</nav>
