---
import Footer from "./components/footer.astro";
import NavBar from "./components/navBar.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/icon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Campo serrano</title>
	</head>
	<body>
		<NavBar />
		<slot />
		<Footer />
	</body>
</html>

<style is:global>
	@import url("https://fonts.googleapis.com/css2?family=Martel:wght@200;300;400;600;700;800;900&family=Metamorphous&family=Quicksand:wght@300..700&display=swap");
	html {
		overflow-x: hidden;
	}
	body {
		--darkColor: #118b50;
		--light: #fbf6e9;
		--main-color: #5db996;
		--second-color: #e3f0af;
		min-height: 100dvh;
		max-width: 100dvw;
		background-color: var(--light);
		font-family: Metamorphous;
	}
	h1 {
		font-family: Martel;
	}
	h2 {
		font-family: Quicksand;
	}
	*,
	::after,
	::before {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		scroll-behavior: smooth;
	}
</style>
