---
import NavBar from "./header/navBar.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Campo serrano</title>
	</head>
	<body>
		<NavBar />
		<slot />
	</body>
</html>

<style is:global>
	body {
		--darkColor: #118b50;
		--light: #fbf6e9;
		--main-color: #5db996;
		--second-color: #e3f0af;
		min-height: 100dvh;
		background-color: var(--light);
	}
	*,
	::after,
	::before {
		margin: 0;
		padding: 0;
	}
</style>
